# Ignore files only used in building and testing
exclude-paths:
  - sidecar-injector/Dockerfile
  - sidecar-injector/tests/Dockerfile
  - sidecar-injector/bin/Dockerfile.releaser

exclude-queries:
  # Using Unrecommended Namespace. This is for the Kubernetes deployment templates files.
  # They will be applied in the appropriate namespace by the user.
  - 611ab018-c4aa-4ba2-b0f6-a448337509a6
  # Service Does Not Target Pod. This is a false positive since the service and deployment
  # templates are in separate files.
  - 3ca03a61-3249-4c16-8427-6f8e47dda729
